<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Information</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars Data -->
    <div class="row" id="mars-data">
      <div class="col-md-12">
        <h4 class="heading">{{.price}} {{listings.headline}}</h4>
        <small>{{mars_data.latest_title}} {{mars_data.latest_summary}}</small>
        <small>{{mars_data.featured_image_url}}</small>
        <small>{{mars_data.html_table}}</small>
        <small>{{mars_data.hemisphere_image_urls}}</small>
      </div>
    </div>

  </div>
</body>


</html>
